﻿
.content-general {
    float: left;
    padding-left: 40px;
    border: 2px solid #DEDEDE;
    border-radius: 9px;
    padding-right: 40px;
    margin-right: 15px;
}
.title {
    text-align: center;
    font-weight: bold;
}
.wt50 {
    width: 50px;
}
.operationSection {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}
.model-space {
    margin-top: 2px;
    margin-bottom: 3px;
}
